sudo ln -s /usr/lib/x86_64-linux-gnu/libprofiler.so /lib/libprofiler.so
# sudo ldconfig

sudo ln -s /usr/lib/x86_64-linux-gnu/libncursesw.so /usr/lib/libncursesw.so
sudo ldconfig

sudo ln -s /usr/lib/x86_64-linux-gnu/libformw.so /usr/lib/libformw.so
sudo ldconfig
